*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #ECEEF1;
}

.main-container {
    background: white;
    width: 400px;
    margin: auto;
    padding: 1rem 1rem 0 1rem;
    border-radius: 2rem;
}

header {
    margin-top: 1.5rem;
}

.d-flex {
    display: flex;

    &.gap-16 {
        gap: 1rem;
    }

    &.justify-space-between {
        justify-content: space-between;
    }

    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }

    .grow-1 {
        flex-grow: 1;
    }
}

svg.setting, svg.search, svg.filter {
    width: 20px;
    height: 20px;
}

svg.more {
    width: 24px;
    height: 4px;
}

svg.next {
    width: 10px;
    height: 18px;
}

.avatar {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    padding: 3px;
    box-shadow: -1px 6px 4px rgba(0, 0, 0, 0.15);
    position: relative;

    img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }

    .badge {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        position: absolute;
        top: 6px;
        right: -3px;
        background: #2ACB97;
        color: white;
        font-size: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.group-header {
    .sub {
        color: #857F72;
        font-size: 0.8rem;
    }
    .main {
        font-size: 1.25rem;
        font-weight: bold;
    }
}

main {
    margin-top: 1.5rem;
}

.search-box {
    position: relative;

    input {
        width: 100%;
        padding: 0.7rem 3rem;
        border-radius: 3rem;
        border: none;
        background: #E8E6E1;
    }

    svg.search {
        position: absolute;
        left: 0.8rem;
    }
    
    svg.filter {
        position: absolute;
        right: 0.8rem;
    }

    svg.search, svg.filter {
        top: 50%;
        transform: translateY(-50%);
    }
}

section {
    margin-top: 1.5rem;

    h2 {
        font-size: 1.25rem;
        font-weight: bold;
    }
}

.horizontal-article-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

article {
    .title {
        font-size: 1rem;
        font-weight: 600;
    }
    .sub {
        color: #625D52;
        font-size: 0.85rem;
    }
}

article.portrait {
    width: 115px;
    overflow: hidden;

    img {
        width: 100%;
        height: 134px;
        object-fit: cover;
        border-radius: 1rem;
    }

    .sub {
        margin-top: 0.25rem;
    }

    .title, .sub {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

article.landscape {
    margin-top: 1rem;

    .img-container {
        position: relative;
        margin-bottom: 0.5rem;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 2rem;
        }

        .chapter-badge, .type-badge {
            font-size: 0.8rem;
            padding: 0.3rem 0.75rem;
            position: absolute;
            border-radius: 1rem;
        }

        .chapter-badge {
            left: 1rem;
            bottom: 1rem;
            background: #323232;
            color: white;
        }

        .type-badge {
            top: 1rem;
            right: 1rem;
            background: #FD707A;
            color: black;
        }
    }
}

footer {
    margin: 1.5rem -1rem 0 -1rem;
    background: #FC6766;
    padding: 1.5rem;
    border-radius: 2rem;
    position: relative;

    .indicator {
        position: absolute;
        width: 2rem;
        height: 0.3rem;
        border-radius: 1rem;
        background: white;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .sub-title {
        font-size: 0.8rem;
        font-weight: bold;

        &--sub {
            color: #504A40;
            font-weight: normal;
        }
    }

    .continue-container {
        border-radius: 2rem;
        background: white;
        padding: 0.8rem;
        display: flex;
        align-items: center;
        margin-top: 0.8rem;

        img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 100%;
        }

        .group-text {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            gap: 0.25rem;
            flex-direction: column;
            margin-left: 0.5rem;
        }
    }
}